body {
  background: $black;
}

.header {
  @extend %clearfix;
}

.logo {
  display: block;
  float: left;
  margin: 1em;
}

.region-header {
  float: left;
}

.page-wrapper {
  margin: 1em auto;
  border: 2px solid $red;
  @include border-radius(10px);
  width: 90%;
}

.main-wrapper {
  @extend %clearfix;
  background: url(../images/cork.jpg);
  padding: 1em;
}

.content-main,
.region-sidebar-first {
  background: $white;
  padding: 1em;
  margin: 0 0 1em;
}

@include breakpoint(tablet) {
  .content-main {
    float: right;
    width: 70%;
  }

  .region-sidebar-first {
    float: left;
    width: 28%;
  }
}

