html {
  background: $black;

  @include breakpoint(laptop) {
    border-left: 1em double $red;
    border-right: 1em double $red;
    margin: 0 0.5em;
    min-height: 100vh;
  }
}

.header {
  @extend %clearfix;

  padding: 1em;
}

.logo {
  display: block;
  float: left;
}

.region-header {
  float: left;
}

.page-wrapper {
  margin: 1em auto;
  border: 2px solid $red;
  border-radius: 10px;
  width: 90%;
  max-width: 1280px;
}

.main-wrapper {
  @extend %clearfix;
  background: url(../images/cork.jpg);
  padding: 1em;
}

.content-main,
.region-sidebar-first {
  background: $white;
  padding: 1em;
  margin: 0 0 1em;
}

@include breakpoint(tablet) {
  .content-main {
    float: right;
    width: 70%;
  }

  .region-sidebar-first {
    float: left;
    width: 28%;
  }
}

