
.navigation {
  @extend %clearfix;
  padding: 0.5em;
  background: url(../images/metal.jpg);
  border-top: 2px solid $red;
  border-bottom: 2px solid $red;

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {

    float: left;
    margin: 0 1em 0 0;

    a {
      color: $red;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &.is-active {
        color: $white;
      }
    }
  }
}