.menu--social {
  .block-title {
    @extend %element-invisible;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-end;

    margin: 0 0 0.5em;
  }

  .menu-item {
    @extend %hide-text;

    margin: 0 0.5em 0.5em 0;

    &:last-child {
      margin-right: 0;
    }
  }
}